.row.p-t-3
  %h1.text-xs-center Ranking
  .col-md-6.col-md-offset-3
    .list-group
      - @ranking.battle_results.each do |member_id, points|
        .list-group-item
          = @ranking.title_for(member_id, @battle.member_type)
          = points
.row.m-t-2
  = button_to "Back to battle", battle_path(@battle), method: :get, class: 'btn btn-info-outline center-block'